<nav class="sidebar sidebar-offcanvas" id="sidebar">
<ul class="nav">
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="menu-icon fa fa-list-alt"></i>
      <span class="menu-title">Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
      <i class="menu-icon fa fa-spinner"></i>
      <span class="menu-title">Agar</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-basic">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" href="/buttons.html">My dishes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dropdowns.html">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/typography.html">Inventory</a>
        </li>
      </ul>
    </div>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/basic-elements.html">
      <i class="menu-icon fa fa-beer"></i>
      <span class="menu-title">Spawn</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/basic-elements.html">
      <i class="menu-icon fa fa-archive"></i>
      <span class="menu-title">Tubs</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('auth.logout') }}" >
      <i class="menu-icon fa fa-power-off"></i>
      <span class="menu-title">Logout</span>
    </a>
  </li>

</ul>
</nav>
