{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">

          <h2 class="text-center text-white mb-4">Login</h2>
          <p class="text-center text-white">
            Add your credentials
          </p>
          <br />
          <div class="auto-form-wrapper">

            {% for message in get_flashed_messages() %}
              <div class="alert alert-warning">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert">
                    x
                  </button>
                {{ message }}
              </div>
            {% endfor %}

            <form method="POST" action="{{ url_for('auth.login') }}">
              {{ form.csrf_token }}

              <div class="form-group">
                <label class="label">{{ form.email.label.text }}</label>
                <div class="input-group">
                  {{ form.email(placeholder="example@gmail.com", class='form-control') }}
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                </div>
                <ul class="errors">
                  {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>

              <div class="form-group">
                <label class="label">{{ form.password.label.text }}</label>
                <div class="input-group">
                  {{ form.password(placeholder="********", class='form-control') }}
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                </div>
                <ul class="errors">
                  {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>

              <div class="form-group">
                {{ form.submit(class="btn btn-primary submit-btn btn-block") }}
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="form-check form-check-flat mt-0">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked> Keep me signed in </label>
                </div>
                <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
              </div>
              <!--<div class="form-group">
                <button class="btn btn-block g-login">
                  <img class="mr-3" src="/static/assets/images/file-icons/icon-google.svg" alt="">Log in with Google</button>
              </div>-->
              <div class="text-block text-center my-3">
                <span class="text-small font-weight-semibold">Not a member?</span>
                <a href="{{ url_for('auth.register') }}" class="text-black text-small">Create new account</a>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

{% endblock content %}
